<div>
    <h3>This is the chat window.</h3>
    <div id="chatContainer" style="width: 90%; height: 500px; overflow: scroll;">
        <ul class="chatThread" autoscroll>
            <li ng-repeat="message in messages">
                <message-renderer message="message"></message-renderer>
            </li>
        </ul>
    </div>


    <div id="chatInput">
        <video width="160" height="120" muted="true"></video>
        <form class="form-inline" ng-submit="submit()">
            <input ng-model="messageToSend" ng-disabled="!inputEnabled" />
        </form>
    </div>

</div>