<div class="well">
    <h4>Local Video</h4>
    <video width="320" height="240" class="local"></video>
    <video width="320" height="240" class="local"></video>
    <video width="320" height="240" class="local"></video>
</div>

<div class="well">
    <h4>Remote Video</h4>
    <video width="320" height="240" class="remote"></video>
    <video width="320" height="240" class="remote"></video>
    <video width="320" height="240" class="remote"></video>
</div>

<p>In theory I should be able to plug different streams, filters etc into each of these players. That'd be neat,
because I could for instance stream both webcams and a screenshare as part of a single conversation. Or, a single
workspace could somehow consolidate the streams of three different computers and send them all at once, or etc.</p>

<p>In the meantime, I kinda dig the andy warhol vibe here.</p>
